* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: hsla(204, 55%, 53%, 0.516);
    width: 400px;
    height: 220px;
    box-shadow: 5px 5px 24px rgb(0, 0, 0, 0.3);
    gap: 36px;
    margin-top: 100px;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    color: #333;
    margin-top: 50px;
}

.databox {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 64px;
    font-size: 24px;
    background-color: hsla(204, 55%, 53%, 0.616);
    width: 310px;
    height: 180px;
    box-shadow: 5px 5px 24px rgb(0, 0, 0, 0.3);
    color: rgba(252, 236, 236, 0.664);
}

.error-message {
    color: rgba(252, 236, 236, 0.664);
    font-size: 24px;
    font-weight: 600;
}

button {
    width: 200px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 22px;
    font-weight: 400;
}

button:hover {
    background-color: hsla(204, 55%, 53%, 0.616);
}